doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Document
        link(rel="stylesheet", href="./assets/css/app.css")
    body
        h1 title
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad ea et, eum impedit in optio unde vel! Accusamus architecto autem cupiditate explicabo in iure labore, minima mollitia odit officia ullam.
        img(src="./assets/imgs/fox.jpg" alt="картинка")
